@import "../abstracts/var";

// Estilos para los botones
button {
  border: none;
  background: transparent;
}

// Estilos para los enlaces
a {
  text-decoration: none;
  color: $color-white;
  &:hover {
    color: #555;
  }
}