.assetsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .assets {
    max-width: 650px;
    width: 100%;
    height: auto;
    margin: 1rem;
    border-radius: 10px;
  }

  @include mobile {
    margin: 0 1rem;
  }
}
