.assetsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .assets {
    border-radius: 10px;
  }

  #judo {
    max-width: 500px;
  }

  @include mobile {
    margin: 0 1rem;
  }
}
