.chatContainerGrid {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 0px 0px;

  .chatTitle {
    grid-area: chatTitle;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: $style-border-grid;

    .h1Container {
      width: 80%;
      font-size: 2rem;
      h1 {
        text-align: center;
      }
    }

    .btnContainer {
      display: flex;
      justify-content: center;

      .btnConnection {
        box-shadow: inset 0px -3px 7px 0px #29bbff;
        background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
        background-color: #2dabf9;
        border-radius: 3px;
        border: 1px solid #0b0e07;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 9px 23px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #263666;

        &:hover {
          background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
          background-color: #0688fa;
        }

        &:active {
          position: relative;
          top: 1px;
        }
      }

      .btnDisconnectect {
        box-shadow: inset 0px 1px 0px 0px #cf866c;
        background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
        background-color: #d0451b;
        border-radius: 3px;
        border: 1px solid #942911;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 9px 12px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #854629;

        &:hover {
          background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
          background-color: #bc3315;
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }

  .userConnectedBox {
    grid-area: userConnectedBox;
    display: grid;
    gap: 0px 0px;
    border-right: $style-border-grid;

    .userTitle {
      grid-area: userTitle;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      border-bottom: $style-border-grid;
      border-right: $style-border-grid;
      font-size: 1.5rem;
    }

    .userConnected {
      font-family: $font-CourierNew;
      font-weight: 600;
      grid-area: userConnected;
      display: flex;
      flex-direction: column;
      padding-top: 10px;

      .userDiv {
        display: flex;
        height: 30px;
        padding-left: 10px;
      }
    }
  }

  .messageLogBox {
    display: grid;
    gap: 0px 0px;
    grid-area: messageLogBox;
    overflow-y: auto;

    .logTittle {
      grid-area: logTittle;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      border-bottom: $style-border-grid;
      font-size: 1.5rem;
    }

    .messageLog {
      grid-area: messageLog;
      padding-left: 15px;
      padding-top: 10px;
      .log {
        height: 100%;
        width: 95%;
        font-family: $font-CourierNew;
      }
    }
  }

  .sendMessage {
    grid-area: sendMessage;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: $style-border-grid;

    .sendMsg {
      height: 50%;
      width: 80%;
      background-color: $color-darkBlue;
      color: $color-white;
      font-size: 1rem;

      &::placeholder {
        text-align: center;
      }
    }
  }
  // MOBILE - TABLET - DESKTOP RESPONSIVE

  @include mobile {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.7fr;
    grid-template-areas:
      "chatTitle chatTitle"
      "userConnectedBox messageLogBox"
      "sendMessage sendMessage";
    .chatTitle {
      .h1Container {
        font-size: 1.2rem;
      }

      .btnContainer {
        .btnConnection {
          padding: 7px 15px;
          font-size: 12px;
        }
        .btnDisconnectect {
          padding: 7px 8px;
          font-size: 12px;
        }
      }
    }

    .userConnectedBox {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 1.6fr 1fr;
      grid-template-areas:
        "userTitle userTitle userTitle"
        "userConnected userConnected userConnected"
        "userConnected userConnected userConnected";
      .userTitle {
        font-size: 0.8rem;
        text-align: center;
        padding-left: 0;
      }
      .userConnected {
        .userDiv {
          font-size: 0.8rem;
        }
      }
    }

    .messageLogBox {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 1.6fr 1fr;
      grid-template-areas:
        "logTittle logTittle logTittle"
        "messageLog messageLog messageLog"
        "messageLog messageLog messageLog";
      .logTittle {
        font-size: 0.8rem;
      }
      .messageLog {
        font-size: 0.8rem;
      }
    }

    .sendMessage {
      .sendMsg {
        &::placeholder {
          font-size: 0.7rem;
        }
      }
    }
  }

  @include tablet {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.7fr;
    grid-template-areas:
      "chatTitle chatTitle"
      "userConnectedBox messageLogBox"
      "sendMessage sendMessage";
    .chatTitle {
      .h1Container {
        width: auto;
        h1 {
          text-align: center;
          font-size: 1.3rem;
        }
      }
    }

    .userConnectedBox {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 1.6fr 1fr;
      grid-template-areas:
        "userTitle userTitle userTitle"
        "userConnected userConnected userConnected"
        "userConnected userConnected userConnected";

      .userTitle {
        justify-content: center;
        text-align: center;
        padding-left: 0;
        p {
          font-size: 1rem;
        }
      }
    }

    .messageLogBox {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 1.6fr 1fr;
      grid-template-areas:
        "logTittle logTittle logTittle"
        "messageLog messageLog messageLog"
        "messageLog messageLog messageLog";
    }
  }

  @include desktop {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.7fr;
    grid-template-areas:
      "chatTitle chatTitle"
      "userConnectedBox messageLogBox"
      "sendMessage sendMessage";

    .userConnectedBox {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 1.6fr 1fr;
      grid-template-areas:
        "userTitle userTitle userTitle"
        "userConnected userConnected userConnected"
        "userConnected userConnected userConnected";
    }

    .messageLogBox {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 1.6fr 1fr;
      grid-template-areas:
        "logTittle logTittle logTittle"
        "messageLog messageLog messageLog"
        "messageLog messageLog messageLog";
    }
  }
}
