.chatContainerGrid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.3fr 2.4fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas: "chatTitle chatTitle" "userConnectedBox messageLogBox" "sendMessage sendMessage";

  .chatTitle {
    grid-area: chatTitle;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: $style-border-grid;

    .h2Container {
      width: 85%;
      h2 {
        text-align: center;
      }
    }

    .btnContainer {
      display: flex;
      justify-content: center;

      .btnConnection {
        width: 120px;
        box-shadow: inset 0px -3px 7px 0px #29bbff;
        background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
        background-color: #2dabf9;
        border-radius: 3px;
        border: 1px solid #0b0e07;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 9px 23px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #263666;

        &:hover {
          background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
          background-color: #0688fa;
        }

        &:active {
          position: relative;
          top: 1px;
        }
      }

      .btnDisconnectect {
        width: 120px;
        box-shadow: inset 0px 1px 0px 0px #cf866c;
        background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
        background-color: #d0451b;
        border-radius: 3px;
        border: 1px solid #942911;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 9px 23px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #854629;

        &:hover {
          background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
          background-color: #bc3315;
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }

  .userConnectedBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "userTitle userTitle userTitle" "userConnected userConnected userConnected" "userConnected userConnected userConnected";
    grid-area: userConnectedBox;
    border-right: $style-border-grid;

    .userTitle {
      grid-area: userTitle;
      display: flex;
      align-items: center;
      padding-left: 30px;
      border-bottom: $style-border-grid;
      border-right: $style-border-grid;
    }

    .userConnected {
      font-family: $font-CourierNew;
      font-weight: 600;
      grid-area: userConnected;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
    }
    .userDiv {
      display: flex;
      height: 30px;
    }
    p {
      padding-left: 30px;
      font-size: 1.1rem;
    }
  }

  .messageLogBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "logTittle logTittle logTittle" "messageLog messageLog messageLog" "messageLog messageLog messageLog";
    grid-area: messageLogBox;

    .logTittle {
      grid-area: logTittle;
      display: flex;
      align-items: center;
      padding-left: 30px;
      border-bottom: $style-border-grid;
    }

    .messageLog {
      grid-area: messageLog;
      padding-left: 15px;
      padding-top: 10px;
      .log {
        height: 100%;
        width: 95%;
        font-family: $font-CourierNew;
      }
    }
  }

  .sendMessage {
    grid-area: sendMessage;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: $style-border-grid;

    .sendMsg {
      height: 50%;
      width: 80%;
      background-color: $color-darkBlue;
      color: $color-white;
    }
  }
}
