.mainContactContainer {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;

  .contactContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: $color-darkGrey;
    border-radius: 15px;
    padding: 1rem;
    font-family: $font-FireCode;
    font-size: 1.3rem;

    .squareBrackets {
      color: $color-white;
    }
    .brackets {
      color: $color-pink;
      padding-left: 1rem;
    }
    .methodLineContainer {
      padding-left: 2rem;
      padding-bottom: 1rem;
      .contactMethod {
        color: #8be9fd;
      }
      .doubleDot {
        color: $color-pink;
      }
      .linkContainer {
        a {
          color: #f1fa8c;
          transition: color 0.7s;
          &:hover {
            color: $color-white;
          }
        }
      }
    }
  }
  #formContact {
    display: flex;
    flex-direction: column;
    width: 45%;
    #inputname {
    }
    #inputEmail {
    }
    #inputSubject {
    }
    #inputMessage {
      height: 10rem;
    }
  }
}
