.accordion {
  display: flex;
  color: $color-white;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  font-family: $font-OpenSans;
  padding: 3px 0;
  padding-left: 1rem;
  cursor: pointer;

  .iconFolder {
    margin-right: 3px;
  }

  &.activeFile,
  &:hover {
    background-color: #bebebe33;
  }
}

.panel {
  display: flex;
  gap: 1.5px;
  padding-left: 1.2rem;
  font-size: 0.8rem;
  text-align: left;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;

  button {
    text-align: left;
  }
}

.fileTxt {
  padding: 2px 0 2px 1rem;
  color: $color-white;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;

  &:hover {
    background-color: #bebebe33;
  }

  .iconoFile {
    width: 15px;
    margin-right: 2px;
  }
}
