.repositoriesContainer {
  overflow-y: auto;

  .starredCard {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    height: 110px;
    background-color: #21222c;

    &:hover {
      background-color: #bebebe33;
    }
    .dataRepo {
      display: flex;
      flex-direction: column;
      padding-left: 0.5rem;
      border-left: 1px solid #6b6e7e;

      span {
        .bi {
          color: #ca26eb;
          margin-right: 5px;
        }
        .titleRepo {
          color: #bd93f9;
          transition: 0.2s;

          &:hover {
            color: #aa26eb;
          }
        }
      }

      p {
        font-size: 12px;
        color: #aaa;
      }
    }

    .contentContainer {
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 5px 10px 5px 0;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top: 1px solid #6b6e7e;
      border-bottom: 1px solid #6b6e7e;
    }
  }

  // @include mobile {
  //   overflow-y: auto;
  // }
}
.containerMainGithub {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow-y: auto;
  .containerHeaderGithub {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $color-darkGrey;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    font-size: 1.5rem;
    .containerAvatar {
      padding: 0 1rem;
      width: 90px;
      img {
        border-radius: 50%;
        width: 100%;
        height: auto;
      }
    }
    .containerName {
      padding: 1rem;
      border-right: 3px solid #bd93f9;
    }
    .containerRepos {
      padding: 0 1rem;
      text-align: center;
    }
    @include mobile {
      font-size: 1rem;
      
      .containerAvatar {
        display: none;
      }
    }
  }
  .containerRepositories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1.5rem;
    gap: 1.5rem;
    margin: 1.5rem 0;

    .repositoryCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      padding: 1rem;
      background-color: $color-darkGrey;
      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: 0 0 11px rgba(202, 38, 235, 0.3);
      }

      .repositoryImg {
        img {
          width: 130px;
        }
      }
      .repositoryContent {
        text-wrap: balance;
        h3 {
          padding: 0.5rem 0;
          font-size: 1.3rem;
          border-bottom: 1px solid #888;
          a {
            transition: color 0.3s;
            &:hover {
              color: #bd93f9;
            }
          }
        }
        p {
          padding-top: 0.5rem;
          color: #bbb;
        }
        @include mobile {
          h3 {
            font-size: 1rem;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  .containerChartGithub {
    width: 100%;
    img {
      width: 50%;
      height: 150px;
    }
    @include mobile {
      display: none;
    }
  }
  @include mobile{
    padding: 1rem;
  }
}
