.repositoriesContainer {
  overflow-y: auto;

  .repositoryCard {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 0.5rem;
    height: 120px;
    background-color: #21222c;

    &:hover {
      background-color: #bebebe33;
    }
    .dataRepo {
      display: flex;
      flex-direction: column;
      padding-left: 0.5rem;
      border-left: 1px solid #6b6e7e;

      span {
        .bi {
          color: #ca26eb;
          margin-right: 5px;
        }
        .titleRepo {
          color: #bd93f9;
          transition: 0.2s;

          &:hover {
            color: #7a3cb5;
          }
        }
      }

      p {
        font-size: 12px;
        color: #aaa;
      }
    }

    .contentContainer {
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 5px 10px 5px 0;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top: 1px solid #6b6e7e;
      border-bottom: 1px solid #6b6e7e;
    }
  }

  @include mobile {
    overflow-y: auto;
  }
}
