.containerM8B {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .borderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21222c;
    border-radius: 25px;
    width: 50%;
    height: 50%;    
    animation: breath 5.5s infinite;

    @keyframes breath {
      50% {
        -webkit-box-shadow: 0px 0px 70px 10px rgba(202, 38, 235, 0.17);
        -moz-box-shadow: 0px 0px 70px 10px rgba(202, 38, 235, 0.17);
        box-shadow: 0px 0px 70px 10px rgba(202, 38, 235, 0.17);
      }
    }

    .titleM8B {
      margin-bottom: 1.5rem;

      .glitch {
        position: relative;
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        letter-spacing: 3px;
        z-index: 1;
        cursor: none;

        &:before,
        &:after {
          display: block;
          content: "Magic 8 Ball";
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.8;
        }

        &:before {
          content: attr(data-text); // Usar el texto del atributo data-text
          animation: none; // Deshabilitar la animación aquí
          color: #00ffff;
          z-index: -1;
        }

        &:after {
          content: attr(data-text); // Usar el texto del atributo data-text
          animation: none; // Deshabilitar la animación aquí
          color: #ff00ff;
          z-index: -2;
        }

        &:hover {
          &:before {
            animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
              infinite;
          }

          &:after {
            animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
              reverse both infinite;
          }
        }

        @keyframes glitch-it {
          0% {
            transform: translate(0);
          }
          20% {
            transform: translate(-2px, 2px);
          }
          40% {
            transform: translate(-2px, -2px);
          }
          60% {
            transform: translate(2px, 2px);
          }
          80% {
            transform: translate(2px, -2px);
          }
          to {
            transform: translate(0);
          }
        }
      }
    }

    .btnRta {
      margin-bottom: 2.5rem;
      box-shadow: inset 0px -3px 7px 0px #a064fa;
      background: linear-gradient(to bottom, #ca26eb 5%, #745c99 100%);
      background-color: #ca26eb;
      border-radius: 5px;
      border: 1px solid #44315e;
      display: inline-block;
      cursor: pointer;
      color: $color-white;
      font-family: $font-Arial;
      font-size: 1rem;
      padding: 12px 24px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #19213b;
      user-select: none;

      &:hover {
        background: linear-gradient(to bottom, #745c99 5%, #ca26eb 100%);
        background-color: #745c99;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }

    .respuestaContainer {
      height: 2rem;
      .respuesta {
        width: 0;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.5rem;
        border-right: 0.15em solid #bd93f9;
        transform: translateY(-50%);
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(100%);
    //width: calc(11.3px * var(--rta-length));
  }
}

@keyframes blink {
  from {
    border-right-color: #bd93f9;
  }
  to {
    border-right-color: transparent;
  }
}

@include mobile {
  .containerM8B {
    .borderContainer {
      width: 90%;
      .titleM8B {
        .glitch {
          font-size: 2rem;
        }
      }
      .btnRta {
        font-size: 0.8rem;
        padding: 12px 15px;
      }

      .respuestaContainer {
        height: 1rem;
        .respuesta {
          font-size: 1rem;
        }
      }
    }
  }
}
