.containerM8B {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .borderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0px 0px 70px 10px rgba(31, 31, 31, 0.9);
    -moz-box-shadow: 0px 0px 70px 10px rgba(31, 31, 31, 0.9);
    box-shadow: 0px 0px 70px 10px rgba(31, 31, 31, 0.9);

    .titleM8B {
      margin-bottom: 1.5rem;

      h1 {
        font-size: 3rem;
        font-weight: 600;
      }
    }

    .btnRta {
      margin-bottom: 1.5rem;
      box-shadow: inset 0px -3px 7px 0px #29bbff;
      background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
      background-color: #2dabf9;
      border-radius: 5px;
      border: 1px solid #0b0e07;
      display: inline-block;
      cursor: pointer;
      color: $color-white;
      font-family: $font-Arial;
      font-size: 1rem;
      padding: 12px 24px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #263666;

      &:hover {
        background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
        background-color: #0688fa;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }

    .respuestaContainer {
      height: 1.5rem;

      .respuesta {
        width: 0;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.5rem;
        border-right: 0.15em solid #18bdec;
        transform: translateY(-50%);
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(100%);
    //width: calc(11.3px * var(--rta-length));
  }
}

@keyframes blink {
  from {
    border-right-color: #18bdec;
  }
  to {
    border-right-color: transparent;
  }
}

@include mobile {
  .containerM8B {
    .borderContainer {
      width: 90%;
      .titleM8B {
        h1 {
          font-size: 2rem;
        }
      }
      .btnRta {
        font-size: 0.8rem;
        padding: 12px 15px;
      }

      .respuestaContainer {
        height: 1rem;
        .respuesta {
          font-size: 1rem;
        }
      }
    }
  }
}
