/* PLAYGROUND */
.playGroundGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  max-height: 87vh;
  height: 100%;
  width: 100%;

  .html {
    grid-area: 1 / 1 / 3 / 2;

    .htmlTitle {
      display: flex;
      height: 24px;
      img {
        margin-left: 3px;
        width: 24px;
      }
      p {
        margin-left: 7px;
      }
    }

    .htmlArea {
      grid-area: 2 / 1 / 3 / 2;
      color: $color-white;
      background-color: $color-lightGrey;
      height: 100%;
      width: 100%;
      font-family: $font-FireCode;
      font-size: 13px;
    }
  }

  .css {
    grid-area: 1 / 2 / 3 / 3;

    .cssTitle {
      display: flex;
      height: 24px;
      img {
        margin-left: 3px;
        width: 24px;
      }
      p {
        margin-left: 7px;
      }
    }

    .cssArea {
      grid-area: 2 / 2 / 3 / 3;
      color: $color-white;
      background-color: $color-lightGrey;
      height: 100%;
      width: 100%;
      font-family: $font-FireCode;
      font-size: 13px;
    }
  }

  .javaScript {
    grid-area: 1 / 3 / 3 / 4;

    .javaScriptTitle {
      display: flex;
      height: 24px;
      img {
        margin-left: 3px;
        width: 20px;
      }
      p {
        margin-left: 7px;
      }
    }

    .javaScriptArea {
      grid-area: 2 / 3 / 3 / 4;
      color: $color-white;
      background-color: $color-lightGrey;
      height: 100%;
      width: 100%;
      font-family: $font-FireCode;
      font-size: 13px;
    }
  }

  .outPutArea {
    grid-area: 3 / 1 / 4 / 4;
    height: 100%;

    iframe {
      color: #000;
      background-color: $color-white;
      width: 100%;
      height: 100%;
    }
  }
}
