.readme {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem;

  .readmeStyle {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
      border-bottom: $style-border-grid;
      padding-bottom: 10px;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 20px;
      margin-bottom: 10px;
      border-bottom: $style-border-grid;
      padding-bottom: 5px;
    }
    h3 {
      font-size: 1.1rem;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    code {
      font-family: "Courier New", monospace;
      background-color: #f0f0f0;
      padding: 2px 4px;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
    .language-javascript {
      font-size: 1rem;
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 15px;
      li {
        font-size: 16px;
        line-height: 1.5;
        margin-left: 1rem;
      }
    }

    img {
      max-width: 60%;
    }
    code {
      background-color: transparent;
      font-size: 12px;
    }
  }

  @include mobile {
    padding: 1rem 0;

    .readmeStyle {
      max-width: 95%;
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.3rem;
      }
      p {
        font-size: 0.9rem;
      }
      ul {
        padding-left: 10px;
        li {
          font-size: 0.9rem;
        }
      }

      img {
        max-width: 100%;
      }
      code {
        white-space: pre-line;
      }
      .language-javascript {
        font-size: 12px;
      }
    }
  }
}
