.readmeContainerM8b {
  @extend .readme;
  flex-direction: column;

  .imgContainer {
    display: flex;
    max-width: 100%;
    justify-content: center;

    img {
      max-width: 620px;
    }
  }
}
