::-webkit-scrollbar {
  width: 10px;
  /* Track */
  &-track {
    background: $color-border-grid;
  }
  /* Handle */
  &-thumb {
    background: #55555588;
    border-radius: 5px;
    /* Handle on hover */
    &:hover {
      background: #666;
    }
  }
}
