// COMPONETE stackview
.stackFlex {
  display: flex;
  height: 80px;
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  font-family: $font-OpenSans;

  &:hover {
    background-color: #5e6479;
  }

  .stackDivImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stackDescriptionTitle {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    user-select: none;
    padding-left: 5px;

    .stackTitle {
      margin: 0;
      font-size: 0.9rem;
      font-weight: 600;
      color: $color-white;
    }

    .stackDescription {
      margin: 0;
      padding-right: 8px;
      font-size: 0.7rem;
      color: #aaaaaa;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// stack view tabs
.stackViewTabs {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .stackTitleView {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stackDescriptionView {
    color: #888;
    max-width: 700px;
    text-align: center;
  }

  .stackLinkCoder {
    margin-top: 1rem;
    text-decoration: none;
    color: #888;
    transition: 0.5s;

    &:hover {
      color: $color-white;
    }
  }

  .stackCertificado {
    max-width: 700px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
