// COMPONETE stackview

.stackRender {
  display: flex;
  flex-direction: column;
  transition: 1s;
  overflow-y: auto;
  height: 100%;

  .stackFlex {
    display: flex;
    height: 80px;
    padding: 0.5rem;
    cursor: pointer;
    font-family: $font-OpenSans;

    &:hover {
      background-color: #5e6479;
    }

    .stackDivImg {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .stackDescriptionTitle {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      justify-content: center;
      user-select: none;
      padding-left: 5px;

      .stackTitle {
        margin: 0;
        font-size: 0.9rem;
        font-weight: 600;
        color: $color-white;
      }

      .stackDescription {
        margin: 0;
        margin-top: 7px;
        padding-right: 8px;
        font-size: 0.7rem;
        color: #aaaaaa;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  @include mobile {
    overflow-y: auto;
  }
}

.recommendedContainer {
  display: grid;
  height: 35%;
  position: relative;
  transition: 0.7s;

  &.hiddenNTL {
    height: 21px;
    transition: 0.7s;
  }

  .nextToLearnTitle {
    display: flex;
    align-items: center;
    border-top: $style-border-grid;
    border-bottom: $style-border-grid;
    background-color: $color-lightGrey;
    height: 22px;

    .nextToLearn {
      font-size: 0.8rem;
      padding-left: 1rem;
      font-weight: 600;
    }

    span {
      padding-left: 7px;
      cursor: pointer;
      font-size: 12px;
    }
  }

  .nextToLearnContainer {
    @extend .stackRender;
  }
  @include mobile {
    height: 45%;
  }
}

// stack view tabs
.stackViewTabs {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .stackTitleView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  .stackDescriptionView {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    max-width: 700px;
    text-align: center;
  }

  .stackCertificado {
    max-width: 700px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .stackLinkCoder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    a {
      text-decoration: none;
      color: #888;
      transition: 0.5s;
      &:hover {
        color: #bd93f9;
      }
    }
  }

  @include mobile {
    justify-content: space-evenly;
    .stackTitleView {
      height: auto;

      h1 {
        font-size: 1.5rem;
      }
    }
    .stackDescriptionView {
      height: auto;
      font-size: 0.8rem;
      max-width: 90%;
    }
    .stackCertificado {
      max-width: 90%;
    }
    .stackLinkCoder {
      height: auto;
      font-size: 0.8rem;
    }
  }
}
