.welcome-icon,
.icon-navbar {
  .tooltip-text {
    visibility: hidden;
    width: 70px;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: $color-lightGrey;
    border: 0.5px solid $color-rootPath;
    color: $color-white;
    text-align: center;
    padding: 2px 0;
    position: absolute;
    top: 10px;
    left: 110%;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent $color-rootPath transparent transparent;
    }
    @include mobile {
      display: none;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

.welcome-icon {
  .tooltip-text {
    top: 0px;
    &::after {
      top: 50%;
    }
  }
}
