$color-darkBlue: #191a21;
$color-lightGrey: #282a36;
$color-littleLightGrey: #343746;
$color-darkGrey: #1d1e24;
$color-moreDarkGrey: #1d1e24;
$color-pink: #ff79c6;
$color-white: #f0f8ff;
$color-border-grid: #44475a;
$color-rootPath: #6272a4;
$style-border-grid:  0.5px solid #44475a;