@mixin areaPlayGround {
  color: $color-white;
  background-color: $color-lightGrey;
  height: 94%;
  width: 100%;
  font-family: $font-FireCode;
  font-size: 13px;
  padding: 7px;
  resize: none;
  border: none;

  &:focus {
    outline: none;
    border-top: 1px solid $color-white;
    box-shadow: 10px -5px 10px -3px #719ece;
    
  }
}
