@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: #f0f8ff;
}
a:hover {
  color: #555;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  /* Track */
  /* Handle */
}
::-webkit-scrollbar-track {
  background: #44475a;
}
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.activeFile {
  background-color: rgba(190, 190, 190, 0.2);
}

.containerGrid {
  display: grid;
  color: #f0f8ff;
  height: 100vh;
  gap: 0px 0px;
  grid-auto-flow: row;
}
.containerGrid .menuIconContainer .menuBurgerIcon {
  display: none;
}
.containerGrid .navBarTop {
  grid-area: navBarTop;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  background-color: #191a21;
}
.containerGrid .navBarTop .iconoMenu {
  display: flex;
  padding-left: 10px;
}
.containerGrid .navBarTop .iconoMenu img {
  margin-right: 10px;
  cursor: pointer;
}
.containerGrid .navBarTop .iconoMenu .menuNavBarTop {
  display: flex;
  padding-left: 5px;
  font-size: 0.8rem;
  cursor: default;
}
.containerGrid .navBarTop .iconoMenu .menuNavBarTop span {
  padding: 0 8px;
  transition: 0.3s;
  cursor: default;
}
.containerGrid .navBarTop .iconoMenu .menuNavBarTop span:hover {
  background-color: #282a36;
  border-radius: 5px;
}
.containerGrid .navBarTop .titleVSC {
  width: 100%;
  text-align: center;
  cursor: default;
}
.containerGrid .navBarAside {
  grid-area: navBarAside;
  background-color: #343746;
}
.containerGrid .navBarAside .iconNavBar {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
}
.containerGrid .navBarAside .iconNavBar .iconFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.containerGrid .navBarAside .iconNavBar .iconFlex button.active {
  border-left: 2px solid #ff79c6;
  color: #f0f8ff;
  background-color: rgba(190, 190, 190, 0.2);
}
.containerGrid .navBarAside .iconNavBar .iconFlex .iconNavBarAside {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #5c6a98;
  font-size: 1.7rem;
  cursor: pointer;
}
.containerGrid .navBarAside .iconNavBar .iconFlex .iconUserFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.containerGrid .navBarAside .iconNavBar .iconFlex .iconUserFlex .bi {
  transition: 0.3s;
}
.containerGrid .navBarAside .iconNavBar .iconFlex .iconUserFlex .bi:hover {
  color: #f0f8ff;
}
.containerGrid .sideBar {
  display: grid;
  grid-area: sideBar;
  background-color: #1d1e24;
  gap: 0px 0px;
  grid-auto-flow: row;
  border-right: 0.5px solid #44475a;
}
.containerGrid .sideBar .titleSideBar {
  grid-area: titleSideBar;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 0.5px solid #44475a;
}
.containerGrid .sideBar .fileOpen {
  grid-area: fileOpen;
  background-color: #282a36;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  border-bottom: 0.5px solid #44475a;
}
.containerGrid .sideBar .viewSideBar {
  grid-area: viewSideBar;
  display: flex;
  flex-direction: column;
}
.containerGrid .tabs {
  grid-area: tabs;
  display: flex;
  flex-wrap: nowrap;
  background-color: #1d1e24;
  border-bottom: 0.5px solid #44475a;
  user-select: none;
  overflow-x: hidden;
}
.containerGrid .mainArea {
  display: grid;
  grid-area: mainArea;
  background-color: #282a36;
  gap: 0px 0px;
  grid-auto-flow: row;
  overflow: hidden;
}
.containerGrid .mainArea .rootPath {
  grid-area: rootPath;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #6272a4;
  padding-left: 1rem;
  border-bottom: 0.5px solid #44475a;
}
.containerGrid .mainArea .mainView {
  grid-area: mainView;
  overflow-y: auto;
}
.containerGrid .footer {
  grid-area: footer;
  background-color: #191a21;
  border-top: 0.5px solid #44475a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #f0f8ff;
}
.containerGrid .footer .iconsFooterL {
  display: flex;
  width: 125px;
  justify-content: space-around;
  cursor: default;
  padding-left: 10px;
  font-size: 11px;
}
.containerGrid .footer .iconsFooterL .bi {
  align-self: center;
}
.containerGrid .footer .iconsFooterR {
  display: flex;
  width: 100px;
  justify-content: space-around;
  cursor: default;
  font-size: 12px;
}
.containerGrid .footer .iconsFooterR .bi {
  align-self: center;
}
.containerGrid .footer .margin {
  margin-left: 5px;
}
@media screen and (max-width: 600px) {
  .containerGrid {
    grid-template-columns: 0.45fr 3fr;
    grid-template-rows: 0.15fr 0.17fr 4.15fr 0.12fr;
    grid-template-areas: "menuBurger navBarTop" "menuBurger tabs" "mainArea mainArea" "footer footer";
  }
  .containerGrid .menuIconContainer {
    grid-area: menuBurger;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1e24;
    border-bottom: 0.5px solid #44475a;
  }
  .containerGrid .menuIconContainer .menuBurgerIcon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .containerGrid .navBarTop {
    flex-direction: row-reverse;
  }
  .containerGrid .navBarTop span {
    padding-left: 1px;
  }
  .containerGrid .navBarTop .iconoMenu .menuNavBarTop {
    display: none;
  }
  .containerGrid .navBarAside {
    grid-area: initial;
    visibility: hidden;
    position: absolute;
    width: 13%;
    height: 0;
    top: 7%;
    transition: all 1s ease;
  }
  .containerGrid .navBarAside.navBarAsideRes {
    visibility: visible;
    height: 90.4%;
  }
  .containerGrid .navBarAside * {
    transition: none;
  }
  .containerGrid .navBarAside .toolTipText {
    display: none;
  }
  .containerGrid .sideBar {
    visibility: hidden;
    grid-area: initial;
    position: absolute;
    width: 0;
    height: 90.4%;
    top: 7%;
    left: 13%;
    border-top: 0.5px solid #44475a;
    overflow-y: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.1fr 4fr;
    grid-template-areas: "titleSideBar" "fileOpen" "viewSideBar";
    transition: all 0.5s ease;
  }
  .containerGrid .sideBar.sideBarRes {
    visibility: visible;
    width: 56%;
  }
  .containerGrid .mainArea {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 2.8fr;
    grid-template-areas: "rootPath rootPath rootPath" "mainView mainView mainView" "mainView mainView mainView";
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .containerGrid {
    grid-template-columns: 0.1fr 0.5fr 3fr;
    grid-template-rows: 0.15fr 0.15fr 4.15fr 0.12fr;
    grid-template-areas: "navBarTop navBarTop navBarTop" "navBarAside sideBar tabs" "navBarAside sideBar mainArea" "navBarAside footer footer";
  }
  .containerGrid .sideBar {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.1fr 4fr;
    grid-template-areas: "titleSideBar" "fileOpen" "viewSideBar";
  }
  .containerGrid .mainArea {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 4fr;
    grid-template-areas: "rootPath" "mainView";
  }
}
@media screen and (min-width: 1024px) {
  .containerGrid {
    grid-template-columns: 0.1fr 0.5fr 3fr;
    grid-template-rows: 0.15fr 0.15fr 4.15fr 0.12fr;
    grid-template-areas: "navBarTop navBarTop navBarTop" "navBarAside sideBar tabs" "navBarAside sideBar mainArea" "navBarAside footer footer";
  }
  .containerGrid .sideBar {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.1fr 4fr;
    grid-template-areas: "titleSideBar" "fileOpen" "viewSideBar";
  }
  .containerGrid .mainArea {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 4fr;
    grid-template-areas: "rootPath" "mainView";
  }
}

.containerHeroView {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.containerHeroView .containerIntroAside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-left: 5rem;
}
.containerHeroView .containerIntroAside .titleMain {
  text-align: left;
  width: 100%;
}
.containerHeroView .containerIntroAside .titleMain h1 {
  font-size: 2rem;
}
.containerHeroView .containerIntroAside .titleMain h2 {
  font-size: 1.5rem;
}
.containerHeroView .containerIntroAside .descriptionMain {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.containerHeroView .containerIntroAside .descriptionMain h6 {
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  .containerHeroView {
    flex-direction: column;
  }
  .containerHeroView .containerIntroAside {
    padding-left: 0;
    margin: auto;
  }
  .containerHeroView .containerIntroAside .titleMain {
    text-align: center;
  }
}
.assetsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.assetsContainer .assets {
  max-width: 700px;
  min-width: 350px;
  height: auto;
}

.accordion {
  display: flex;
  color: #f0f8ff;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin: 1px 0;
  padding-left: 1rem;
  cursor: pointer;
}
.accordion .iconFolder {
  margin-right: 3px;
}
.accordion.activeFile, .accordion:hover {
  background-color: rgba(190, 190, 190, 0.2);
}

.panel {
  display: flex;
  gap: 3px;
  color: #f0f8ff;
  padding-left: 1.2rem;
  font-size: 0.8rem;
  text-align: left;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
}
.panel button {
  text-align: left;
}

.fileTxt {
  margin-left: 7px;
  padding: 0;
  color: #f0f8ff;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fileTxt .iconoFile {
  width: 15px;
  margin-right: 1px;
}

.containerM8B {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerM8B .titleM8B {
  margin-bottom: 1.5rem;
}
.containerM8B .titleM8B h1 {
  font-size: 3rem;
  font-weight: 600;
}
.containerM8B .btnRta {
  margin-bottom: 1.5rem;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 5px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #f0f8ff;
  font-family: Arial;
  font-size: 1rem;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.containerM8B .btnRta:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.containerM8B .btnRta:active {
  position: relative;
  top: 1px;
}
.containerM8B .respuestaContainer {
  height: 60px;
}
.containerM8B .respuestaContainer .respuesta {
  width: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  border-right: 0.15em solid #18bdec;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(11.3px * var(--rta-length));
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* PLAYGROUND */
.playGroundGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  max-height: 87vh;
  height: 100%;
  width: 100%;
}
.playGroundGrid .html {
  grid-area: 1/1/4/2;
}
.playGroundGrid .html .htmlTitle {
  display: flex;
  align-items: center;
  height: 30px;
  border-right: 0.5px solid #44475a;
}
.playGroundGrid .html .htmlTitle img {
  margin-left: 10px;
  width: 24px;
}
.playGroundGrid .html .htmlTitle p {
  margin-left: 7px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.playGroundGrid .html .htmlArea {
  color: #f0f8ff;
  background-color: #282a36;
  height: 94%;
  width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 13px;
  padding: 7px;
  resize: none;
  border: none;
  grid-area: 2/1/3/2;
  border-right: 0.5px solid #44475a;
  border-top: 0.5px solid #44475a;
}
.playGroundGrid .html .htmlArea:focus {
  outline: none;
  border-top: 1px solid #f0f8ff;
  box-shadow: 10px -5px 10px -3px #719ece;
}
.playGroundGrid .css {
  grid-area: 1/2/4/3;
}
.playGroundGrid .css .cssTitle {
  display: flex;
  align-items: center;
  height: 30px;
  border-right: 0.5px solid #44475a;
}
.playGroundGrid .css .cssTitle img {
  margin-left: 10px;
  width: 24px;
}
.playGroundGrid .css .cssTitle p {
  margin-left: 7px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.playGroundGrid .css .cssArea {
  color: #f0f8ff;
  background-color: #282a36;
  height: 94%;
  width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 13px;
  padding: 7px;
  resize: none;
  border: none;
  grid-area: 2/2/3/3;
  border-right: 0.5px solid #44475a;
  border-top: 0.5px solid #44475a;
  border-left: 0;
}
.playGroundGrid .css .cssArea:focus {
  outline: none;
  border-top: 1px solid #f0f8ff;
  box-shadow: 10px -5px 10px -3px #719ece;
}
.playGroundGrid .javaScript {
  grid-area: 1/3/4/4;
}
.playGroundGrid .javaScript .javaScriptTitle {
  display: flex;
  align-items: center;
  height: 30px;
}
.playGroundGrid .javaScript .javaScriptTitle img {
  margin-left: 10px;
  width: 20px;
}
.playGroundGrid .javaScript .javaScriptTitle p {
  margin-left: 7px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.playGroundGrid .javaScript .javaScriptArea {
  color: #f0f8ff;
  background-color: #282a36;
  height: 94%;
  width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 13px;
  padding: 7px;
  resize: none;
  border: none;
  grid-area: 2/3/3/4;
  border-top: 0.5px solid #44475a;
}
.playGroundGrid .javaScript .javaScriptArea:focus {
  outline: none;
  border-top: 1px solid #f0f8ff;
  box-shadow: 10px -5px 10px -3px #719ece;
}
.playGroundGrid .outPutArea {
  grid-area: 4/1/4/4;
  height: 100%;
}
.playGroundGrid .outPutArea iframe {
  background-color: #191a21;
  width: 100%;
  height: 100%;
}

.readme, .readmeContainerM8b {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.readme .line-numbers, .readmeContainerM8b .line-numbers {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 15px;
  user-select: none;
  border-right: 0.5px solid #44475a;
}
.readme .line-numbers span, .readmeContainerM8b .line-numbers span {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  color: #6272a4;
}
.readme .text-container, .readmeContainerM8b .text-container {
  white-space: pre-wrap;
  padding-left: 15px;
  text-align: left;
  margin-top: 1px;
}
.readme .text-container p, .readmeContainerM8b .text-container p {
  font-family: "Courier New", Courier, monospace;
}

.readmeContainerM8b {
  flex-direction: column;
}
.readmeContainerM8b .imgContainer {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.readmeContainerM8b .imgContainer img {
  max-width: 620px;
}

.stackFlex {
  display: flex;
  height: 80px;
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.stackFlex:hover {
  background-color: #5e6479;
}
.stackFlex .stackDivImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stackFlex .stackDescriptionTitle {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  user-select: none;
  padding-left: 5px;
}
.stackFlex .stackDescriptionTitle .stackTitle {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f0f8ff;
}
.stackFlex .stackDescriptionTitle .stackDescription {
  margin: 0;
  margin-top: 7px;
  padding-right: 8px;
  font-size: 0.7rem;
  color: #aaaaaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stackViewTabs {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stackViewTabs .stackTitleView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}
.stackViewTabs .stackTitleView h1 {
  font-size: 2rem;
  font-weight: 600;
}
.stackViewTabs .stackDescriptionView {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  height: 125px;
  max-width: 700px;
  text-align: center;
}
.stackViewTabs .stackCertificado {
  max-width: 700px;
}
.stackViewTabs .stackCertificado img {
  max-width: 100%;
  height: auto;
}
.stackViewTabs .stackLinkCoder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  text-align: center;
}
.stackViewTabs .stackLinkCoder a {
  text-decoration: none;
  color: #888;
  transition: 0.5s;
}
.stackViewTabs .stackLinkCoder a:hover {
  color: #f0f8ff;
}
@media screen and (max-width: 600px) {
  .stackViewTabs {
    justify-content: space-evenly;
  }
  .stackViewTabs .stackTitleView {
    height: auto;
  }
  .stackViewTabs .stackTitleView h1 {
    font-size: 1.5rem;
  }
  .stackViewTabs .stackDescriptionView {
    height: auto;
    font-size: 0.8rem;
    max-width: 90%;
  }
  .stackViewTabs .stackCertificado {
    max-width: 90%;
  }
  .stackViewTabs .stackLinkCoder {
    height: auto;
    font-size: 0.8rem;
  }
}

.tab {
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-right: 1px solid #272727;
  cursor: pointer;
  min-width: 0;
}
.tab .iconTab {
  width: 15px;
  margin-right: 5px;
}
.tab .tabTitle {
  color: #888;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
}
.tab .closeButton {
  width: 22px;
  filter: invert(5%) sepia(4%) saturate(5505%) hue-rotate(195deg) brightness(93%) contrast(87%);
  margin-left: 10px;
}
.tab:hover .closeButton {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(108%) contrast(102%);
}
.tab.activeTab .closeButton {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(108%) contrast(102%);
}
.tab.activeTab .closeButton:hover {
  background-color: #ccc;
  border-radius: 3px;
}
.tab.activeTab {
  border-top: 0.5px solid #ff79c6;
  background-color: rgba(190, 190, 190, 0.1);
  flex-shrink: 0;
}
.tab.activeTab .tabTitle {
  color: #f0f8ff;
}

.iconNavBarAside .toolTipText {
  visibility: hidden;
  width: 70px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #282a36;
  border: 0.5px solid #6272a4;
  color: #f0f8ff;
  text-align: center;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 110%;
}
.iconNavBarAside .toolTipText::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6272a4 transparent transparent;
}
.iconNavBarAside:hover .toolTipText {
  visibility: visible;
}

.chatContainerGrid {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 0px 0px;
}
.chatContainerGrid .chatTitle {
  grid-area: chatTitle;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid #44475a;
}
.chatContainerGrid .chatTitle .h1Container {
  width: 80%;
  font-size: 2rem;
}
.chatContainerGrid .chatTitle .h1Container h1 {
  text-align: center;
}
.chatContainerGrid .chatTitle .btnContainer {
  display: flex;
  justify-content: center;
}
.chatContainerGrid .chatTitle .btnContainer .btnConnection {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.chatContainerGrid .chatTitle .btnContainer .btnConnection:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.chatContainerGrid .chatTitle .btnContainer .btnConnection:active {
  position: relative;
  top: 1px;
}
.chatContainerGrid .chatTitle .btnContainer .btnDisconnectect {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}
.chatContainerGrid .chatTitle .btnContainer .btnDisconnectect:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.chatContainerGrid .chatTitle .btnContainer .btnDisconnectect:active {
  position: relative;
  top: 1px;
}
.chatContainerGrid .userConnectedBox {
  grid-area: userConnectedBox;
  display: grid;
  gap: 0px 0px;
  border-right: 0.5px solid #44475a;
}
.chatContainerGrid .userConnectedBox .userTitle {
  grid-area: userTitle;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-bottom: 0.5px solid #44475a;
  border-right: 0.5px solid #44475a;
  font-size: 1.5rem;
}
.chatContainerGrid .userConnectedBox .userConnected {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  grid-area: userConnected;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.chatContainerGrid .userConnectedBox .userConnected .userDiv {
  display: flex;
  height: 30px;
  padding-left: 10px;
}
.chatContainerGrid .messageLogBox {
  display: grid;
  gap: 0px 0px;
  grid-area: messageLogBox;
  overflow-y: auto;
}
.chatContainerGrid .messageLogBox .logTittle {
  grid-area: logTittle;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-bottom: 0.5px solid #44475a;
  font-size: 1.5rem;
}
.chatContainerGrid .messageLogBox .messageLog {
  grid-area: messageLog;
  padding-left: 15px;
  padding-top: 10px;
}
.chatContainerGrid .messageLogBox .messageLog .log {
  height: 100%;
  width: 95%;
  font-family: "Courier New", Courier, monospace;
}
.chatContainerGrid .sendMessage {
  grid-area: sendMessage;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.5px solid #44475a;
}
.chatContainerGrid .sendMessage .sendMsg {
  height: 50%;
  width: 80%;
  background-color: #191a21;
  color: #f0f8ff;
  font-size: 1rem;
}
.chatContainerGrid .sendMessage .sendMsg::placeholder {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .chatContainerGrid {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.7fr;
    grid-template-areas: "chatTitle chatTitle" "userConnectedBox messageLogBox" "sendMessage sendMessage";
  }
  .chatContainerGrid .chatTitle .h1Container {
    font-size: 1.2rem;
  }
  .chatContainerGrid .chatTitle .btnContainer .btnConnection {
    padding: 7px 15px;
    font-size: 12px;
  }
  .chatContainerGrid .chatTitle .btnContainer .btnDisconnectect {
    padding: 7px 8px;
    font-size: 12px;
  }
  .chatContainerGrid .userConnectedBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    grid-template-areas: "userTitle userTitle userTitle" "userConnected userConnected userConnected" "userConnected userConnected userConnected";
  }
  .chatContainerGrid .userConnectedBox .userTitle {
    font-size: 0.8rem;
    text-align: center;
    padding-left: 0;
  }
  .chatContainerGrid .userConnectedBox .userConnected .userDiv {
    font-size: 0.8rem;
  }
  .chatContainerGrid .messageLogBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    grid-template-areas: "logTittle logTittle logTittle" "messageLog messageLog messageLog" "messageLog messageLog messageLog";
  }
  .chatContainerGrid .messageLogBox .logTittle {
    font-size: 0.8rem;
  }
  .chatContainerGrid .messageLogBox .messageLog {
    font-size: 0.8rem;
  }
  .chatContainerGrid .sendMessage .sendMsg::placeholder {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .chatContainerGrid {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.7fr;
    grid-template-areas: "chatTitle chatTitle" "userConnectedBox messageLogBox" "sendMessage sendMessage";
  }
  .chatContainerGrid .chatTitle .h1Container {
    width: auto;
  }
  .chatContainerGrid .chatTitle .h1Container h1 {
    text-align: center;
    font-size: 1.3rem;
  }
  .chatContainerGrid .userConnectedBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    grid-template-areas: "userTitle userTitle userTitle" "userConnected userConnected userConnected" "userConnected userConnected userConnected";
  }
  .chatContainerGrid .userConnectedBox .userTitle {
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }
  .chatContainerGrid .userConnectedBox .userTitle p {
    font-size: 1rem;
  }
  .chatContainerGrid .messageLogBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    grid-template-areas: "logTittle logTittle logTittle" "messageLog messageLog messageLog" "messageLog messageLog messageLog";
  }
}
@media screen and (min-width: 1024px) {
  .chatContainerGrid {
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.3fr 2.4fr 0.7fr;
    grid-template-areas: "chatTitle chatTitle" "userConnectedBox messageLogBox" "sendMessage sendMessage";
  }
  .chatContainerGrid .userConnectedBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    grid-template-areas: "userTitle userTitle userTitle" "userConnected userConnected userConnected" "userConnected userConnected userConnected";
  }
  .chatContainerGrid .messageLogBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    grid-template-areas: "logTittle logTittle logTittle" "messageLog messageLog messageLog" "messageLog messageLog messageLog";
  }
}