@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: #f0f8ff;
}
a:hover {
  color: #555;
}

.activeFile {
  background-color: rgba(190, 190, 190, 0.2);
}

::-webkit-scrollbar {
  width: 10px;
  /* Track */
  /* Handle */
}
::-webkit-scrollbar-track {
  background: #44475a;
}
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.containerGrid {
  display: grid;
  color: #f0f8ff;
  height: 100vh;
  grid-template-columns: 0.1fr 0.4fr 2.2fr;
  grid-template-rows: 0.15fr 4.15fr 0.15fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBarTop navBarTop navBarTop" "navBarAside sideBar mainArea" "navBarAside sideBar mainArea" "navBarAside sideBar mainArea" "navBarAside footer footer";
}

.iconoMenu {
  display: flex;
  padding-left: 10px;
}
.iconoMenu img {
  margin-right: 10px;
  cursor: pointer;
}

.navBarTop {
  grid-area: navBarTop;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  background-color: #191a21;
}

.menuNavBarTop {
  cursor: default;
  display: flex;
  padding-left: 5px;
}
.menuNavBarTop span {
  cursor: default;
  padding: 0 8px;
  transition: 0.3s;
}
.menuNavBarTop span:hover {
  background-color: #282a36;
  border-radius: 5px;
}

.titleVSC {
  width: 100%;
  text-align: center;
  cursor: default;
}

.navBarAside {
  grid-area: navBarAside;
  background-color: #343746;
}

.iconNavBar {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.7rem;
}

.iconNavBarAside {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #5c6a98;
}

.iconFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.iconFlex button.active {
  border-left: 2px solid #ff79c6;
  color: #f0f8ff;
  background-color: rgba(190, 190, 190, 0.2);
}

.iconUserFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bi {
  transition: 0.3s;
}
.bi:hover {
  color: #f0f8ff;
}

.sideBar {
  display: grid;
  background-color: #1d1e24;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 2.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titleSideBar titleSideBar titleSideBar" "fileOpen fileOpen fileOpen" "viewSideBar viewSideBar viewSideBar";
  grid-area: sideBar;
  border-right: 0.5px solid #44475a;
}
.sideBar .titleSideBar {
  grid-area: titleSideBar;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 0.5px solid #44475a;
  border-top: 0.5px solid #44475a;
}
.sideBar .fileOpen {
  grid-area: fileOpen;
  background-color: #282a36;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  border-bottom: 0.5px solid #44475a;
}
.sideBar .viewSideBar {
  grid-area: viewSideBar;
  display: flex;
  flex-direction: column;
}

.mainArea {
  display: grid;
  background-color: #282a36;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 2.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "tabs tabs tabs" "rootPath rootPath rootPath" "mainView mainView mainView";
  grid-area: mainArea;
}
.mainArea .tabs {
  grid-area: tabs;
  display: flex;
  flex-wrap: nowrap;
  background-color: #1d1e24;
  border-top: 0.5px solid #44475a;
  border-bottom: 0.5px solid #44475a;
}
.mainArea .tabRender button {
  color: #f0f8ff;
}
.mainArea .rootPath {
  grid-area: rootPath;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #6272a4;
  padding-left: 1rem;
  border-bottom: 0.5px solid #44475a;
}
.mainArea .mainView {
  grid-area: mainView;
  overflow-y: auto;
}

.footer {
  grid-area: footer;
  background-color: #191a21;
  border-top: 0.5px solid #44475a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #f0f8ff;
}
.footer .iconsFooterL {
  display: flex;
  width: 125px;
  justify-content: space-around;
  cursor: default;
  padding-left: 10px;
}
.footer .iconsFooterR {
  display: flex;
  width: 100px;
  justify-content: space-around;
  cursor: default;
}
.footer .margin {
  margin-left: 5px;
}

.containerHeroView {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.containerIntroAside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-left: 5rem;
}

.titleMain {
  text-align: left;
  width: 100%;
}
.titleMain h1 {
  font-size: 2rem;
}
.titleMain h2 {
  font-size: 1.5rem;
}

.descriptionMain {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.descriptionMain h6 {
  margin-top: 1rem;
}

.assetsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.assetsContainer .assets {
  max-width: 700px;
  min-width: 350px;
  height: auto;
}

.accordion {
  cursor: pointer;
  color: #f0f8ff;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}
.accordion.activeFile, .accordion:hover {
  background-color: rgba(190, 190, 190, 0.2);
}

.panel {
  display: flex;
  color: #f0f8ff;
  padding-left: 1.2rem;
  font-size: 0.8rem;
  text-align: left;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
}
.panel button {
  text-align: left;
}

.fileTxt {
  margin-left: 7px;
  padding: 0;
  color: #f0f8ff;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fileTxt img {
  width: 15px;
}

.containerM8B {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerM8B .titleM8B {
  margin-bottom: 1.5rem;
}
.containerM8B .titleM8B h2 {
  font-size: 3rem;
}
.containerM8B .btnRta {
  margin-bottom: 1.5rem;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #f0f8ff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.containerM8B .btnRta:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.containerM8B .btnRta:active {
  position: relative;
  top: 1px;
}
.containerM8B .respuestaContainer {
  height: 60px;
}
.containerM8B .respuestaContainer .respuesta {
  width: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  border-right: 0.15em solid #18bdec;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(11.5px * var(--rta-length));
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* PLAYGROUND */
.playGroundGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  max-height: 87vh;
  height: 100%;
  width: 100%;
}
.playGroundGrid .html {
  grid-area: 1/1/3/2;
}
.playGroundGrid .html .htmlTitle {
  display: flex;
  height: 24px;
}
.playGroundGrid .html .htmlTitle img {
  margin-left: 3px;
  width: 24px;
}
.playGroundGrid .html .htmlTitle p {
  margin-left: 7px;
}
.playGroundGrid .html .htmlArea {
  color: #f0f8ff;
  background-color: #282a36;
  height: 94%;
  width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 13px;
  padding: 7px 0 0 7px;
  resize: none;
  grid-area: 2/1/3/2;
}
.playGroundGrid .css {
  grid-area: 1/2/3/3;
}
.playGroundGrid .css .cssTitle {
  display: flex;
  height: 24px;
}
.playGroundGrid .css .cssTitle img {
  margin-left: 3px;
  width: 24px;
}
.playGroundGrid .css .cssTitle p {
  margin-left: 7px;
}
.playGroundGrid .css .cssArea {
  color: #f0f8ff;
  background-color: #282a36;
  height: 94%;
  width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 13px;
  padding: 7px 0 0 7px;
  resize: none;
  grid-area: 2/2/3/3;
}
.playGroundGrid .javaScript {
  grid-area: 1/3/3/4;
}
.playGroundGrid .javaScript .javaScriptTitle {
  display: flex;
  height: 24px;
}
.playGroundGrid .javaScript .javaScriptTitle img {
  margin-left: 3px;
  width: 20px;
}
.playGroundGrid .javaScript .javaScriptTitle p {
  margin-left: 7px;
}
.playGroundGrid .javaScript .javaScriptArea {
  color: #f0f8ff;
  background-color: #282a36;
  height: 94%;
  width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 13px;
  padding: 7px 0 0 7px;
  resize: none;
  grid-area: 2/3/3/4;
}
.playGroundGrid .outPutArea {
  grid-area: 3/1/4/4;
  height: 100%;
}
.playGroundGrid .outPutArea iframe {
  color: #000;
  background-color: #191a21;
  width: 100%;
  height: 100%;
}

.readme, .readmeContainerM8b {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.readme .line-numbers, .readmeContainerM8b .line-numbers {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 15px;
  user-select: none;
  border-right: 0.5px solid #44475a;
}
.readme .line-numbers span, .readmeContainerM8b .line-numbers span {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  color: #6272a4;
}
.readme .text-container, .readmeContainerM8b .text-container {
  white-space: pre-wrap;
  padding-left: 15px;
  text-align: left;
  margin-top: 1px;
}
.readme .text-container p, .readmeContainerM8b .text-container p {
  font-family: "Courier New", Courier, monospace;
}

.readmeContainerM8b {
  flex-direction: column;
}
.readmeContainerM8b .imgContainer {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.readmeContainerM8b .imgContainer img {
  max-width: 620px;
}

.stackFlex {
  display: flex;
  height: 80px;
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.stackFlex:hover {
  background-color: #5e6479;
}
.stackFlex .stackDivImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stackFlex .stackDescriptionTitle {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  user-select: none;
  padding-left: 5px;
}
.stackFlex .stackDescriptionTitle .stackTitle {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f0f8ff;
}
.stackFlex .stackDescriptionTitle .stackDescription {
  margin: 0;
  padding-right: 8px;
  font-size: 0.7rem;
  color: #aaaaaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stackViewTabs {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stackViewTabs .stackTitleView {
  display: flex;
  width: 100%;
  height: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stackViewTabs .stackDescriptionView {
  color: #888;
  height: 20%;
  max-width: 700px;
  text-align: center;
}
.stackViewTabs .stackCertificado {
  max-width: 600px;
}
.stackViewTabs .stackCertificado img {
  max-width: 100%;
  height: auto;
}
.stackViewTabs .stackLinkCoder {
  margin-top: 1rem;
  height: 10%;
  width: 100%;
  text-align: center;
}
.stackViewTabs .stackLinkCoder a {
  text-decoration: none;
  color: #888;
  transition: 0.5s;
}
.stackViewTabs .stackLinkCoder a:hover {
  color: #f0f8ff;
}

.tab {
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-right: 1px solid #272727;
  cursor: pointer;
  min-width: 0;
}
.tab .iconTab {
  width: 15px;
  margin-right: 5px;
}
.tab .tabTitle {
  color: #888;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
}
.tab .closeButton {
  width: 22px;
  filter: invert(5%) sepia(4%) saturate(5505%) hue-rotate(195deg) brightness(93%) contrast(87%);
  margin-left: 10px;
}
.tab:hover .closeButton {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(108%) contrast(102%);
}
.tab.activeTab .closeButton {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(108%) contrast(102%);
}
.tab.activeTab .closeButton:hover {
  background-color: #ccc;
  border-radius: 3px;
}
.tab.activeTab {
  border-top: 0.5px solid #ff79c6;
  background-color: rgba(190, 190, 190, 0.1);
  flex-shrink: 0;
}
.tab.activeTab .tabTitle {
  color: #f0f8ff;
}

.iconNavBarAside .toolTipText {
  visibility: hidden;
  width: 70px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #282a36;
  border: 0.5px solid #6272a4;
  color: #f0f8ff;
  text-align: center;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 110%;
}
.iconNavBarAside .toolTipText::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6272a4 transparent transparent;
}
.iconNavBarAside:hover .toolTipText {
  visibility: visible;
}

.chatContainerGrid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.3fr 2.4fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas: "chatTitle chatTitle" "userConnectedBox messageLogBox" "sendMessage sendMessage";
}
.chatContainerGrid .chatTitle {
  grid-area: chatTitle;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #44475a;
}
.chatContainerGrid .sendMessage {
  grid-area: sendMessage;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid #44475a;
}
.chatContainerGrid .sendMessage .sendMsg {
  height: 50%;
  width: 80%;
  background-color: #191a21;
  color: #f0f8ff;
}

.userConnectedBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "userTitle userTitle userTitle" "userConnected userConnected userConnected" "userConnected userConnected userConnected";
  grid-area: userConnectedBox;
  border-right: 0.5px solid #44475a;
}
.userConnectedBox .userTitle {
  grid-area: userTitle;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-bottom: 0.5px solid #44475a;
  border-right: 0.5px solid #44475a;
}
.userConnectedBox .userConnected {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  grid-area: userConnected;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.userConnectedBox .userDiv {
  display: flex;
  height: 30px;
}
.userConnectedBox p {
  padding-left: 30px;
  font-size: 1.1rem;
}

.messageLogBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "logTittle logTittle logTittle" "messageLog messageLog messageLog" "messageLog messageLog messageLog";
  grid-area: messageLogBox;
}
.messageLogBox .logTittle {
  grid-area: logTittle;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-bottom: 0.5px solid #44475a;
}
.messageLogBox .messageLog {
  grid-area: messageLog;
  padding-left: 15px;
  padding-top: 10px;
}
.messageLogBox .messageLog .log {
  height: 100%;
  width: 95%;
  font-family: "Courier New", Courier, monospace;
}