.containerHeroView {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .containerIntroLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;

    .titleMain {
      text-align: left;
      width: 100%;
      padding-bottom: 2rem;
      h1 {
        font-size: 3rem;
        font-weight: 300;
      }

      h2 {
        font-size: 2rem;
        font-weight: 300;
        color: #999;
      }

      .btnDownload {
        box-shadow: inset 0px -3px 7px 0px #a064fa;
        background: linear-gradient(to bottom, #ca26eb 5%, #745c99 100%);
        background-color: #ca26eb;
        border-radius: 5px;
        border: 1px solid #44315e;
        display: inline-block;
        cursor: pointer;
        color: $color-white;
        font-family: $font-Arial;
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 0.8rem;
        text-decoration: none;
        text-shadow: 0px 1px 0px #19213b;
        user-select: none;

        &:hover {
          background: linear-gradient(to bottom, #745c99 5%, #ca26eb 100%);
          background-color: #745c99;
        }

        &:active {
          position: relative;
          top: 1px;
        }
      }
    }

    .startAndRecent {
      width: 100%;
      cursor: default;
      .containerStart {
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;
        padding-bottom: 2rem;
        h2 {
          font-size: 1.3rem;
          font-weight: 400;
        }
        .iconWithText {
          color: #3584ff;
          .bi {
            font-size: 1.3rem;
            padding-right: 0.4rem;
          }
        }
      }
      .containerRecent {
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;
        cursor: default;
        h2 {
          font-size: 1.3rem;
          font-weight: 400;
        }
        .heroRecent {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          .spanRecent {
            color: #3584ff;
          }
          .spanPath {
            padding-left: 1rem;
          }
        }
      }
    }
  }
  .containerIntroRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    row-gap: 2rem;
    .containerExtension {
      display: flex;
      flex-direction: column;
      row-gap: 0.4rem;
      h2 {
        font-size: 1.3rem;
        font-weight: 400;
      }
      a {
        transition: box-shadow 0.3s;
        &:hover {
          color: $color-white;
          box-shadow: 0 0 11px rgba(202, 38, 235, 0.3);
        }
        .containerExtensionImgContent {
          display: flex;
          width: 400px;
          background-color: $color-darkGrey;
          padding: 1rem 1.5rem;
          border-radius: 5px;
          .containerExtensionImg {
            display: grid;
            place-content: center;
            width: 25%;
            img {
              width: 64px;
            }
          }
          .containerExtensionContent {
            padding-left: 0.7rem;
            .extensionName {
              padding-bottom: 0.5rem;
            }
            .extensionDescription {
              color: #bbb;
            }
          }
        }
      }
    }
    .containerLenguage {
      display: flex;
      flex-direction: column;
      // row-gap: 1rem;
      user-select: none;
      h2 {
        font-size: 1.3rem;
        font-weight: 400;
        padding-bottom: 0.4rem;
      }
      .containerIconRange {
        display: flex;
        flex-direction: column;
        padding: 1rem 1.5rem;
        background-color: $color-darkGrey;
        border-radius: 5px;
        .iconContainer {
          display: flex;
          justify-content: space-between;
          padding-bottom: 0.5rem;
          .iconsHero {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 64px;
            }
            .iconJavascript {
              width: 56px;
            }
          }
        }
        .rangeAndPercentageContainer {
          .rangeContainer {
            width: 100%;
            height: 10px;
            position: relative;

            .percentageJavascript {
              width: 62%;
              height: 100%;
              background-color: #f1e05a;
              position: absolute;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }
            .percentageCss {
              width: 18.7%;
              height: 100%;
              background-color: #563d7c;
              position: absolute;
              left: 62%;
            }
            .percentageSass {
              width: 16.8%;
              height: 100%;
              background-color: #c6538c;
              position: absolute;
              left: 80.7%;
            }
            .percentageHtml {
              width: 2.5%;
              height: 100%;
              background-color: #e34c26;
              position: absolute;
              left: 97.5%;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }

          .percentageLenguageContainer {
            padding-top: 0.5rem;
            .rowLenguage {
              display: flex;
              column-gap: 0.9rem;

              .lenguage {
                .dotJs {
                  color: #f1e05a;
                  font-size: 9px;
                }
                .dotCss {
                  color: #563d7c;
                  font-size: 9px;
                }
                .dotSass {
                  color: #c6538c;
                  font-size: 9px;
                }
                .dotHtml {
                  color: #e34c26;
                  font-size: 9px;
                }
                span {
                  font-size: 12px;
                  padding-left: 5px;
                  color: $color-white;
                }
                .percentage {
                  color: #999;
                }
              }
            }
          }
        }
      }
    }
  }
  @include mobile {
    flex-direction: column;
    justify-content: unset;
    .containerIntroLeft {
      padding: 0 1rem;
      width: 100%;
      .titleMain {
        padding: 1.5rem 0 2rem 0;
        text-align: center;
        h1 {
          font-size: 1.9rem;
        }
        h2 {
          font-size: 1.5rem;
        }
      }
      .startAndRecent {
        .containerStart {
          h2 {
            font-size: 1.2rem;
          }
          .iconWithText {
            .bi {
              font-size: 1rem;
            }
            span {
              font-size: 0.9rem;
            }
          }
        }
        .containerRecent {
          h2 {
            font-size: 1.2rem;
          }
          .heroRecent {
            font-size: 0.9rem;
          }
        }
      }
    }
    .containerIntroRight {
      padding: 2rem 1rem 1rem 1rem;
      align-items: center;
      width: 100%;
      .containerExtension {
        width: 100%;
        h2 {
          font-size: 1.2rem;
        }
        a {
          .containerExtensionImgContent {
            width: auto;
            padding: 1rem;
          }
        }
      }
      .containerLenguage {
        width: 100%;
        h2 {
          font-size: 1.2rem;
        }
        .containerIconRange {
          .rangeAndPercentageContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            .rangeContainer {
              width: 100%;
            }
            .percentageLenguageContainer {
              width: 100%;
              align-self: flex-start;
            }
          }
        }
      }
    }
  }
  @include tablet {
  }
  @include desktop {
  }
}
