@import '../abstracts/colors';
@import '../abstracts/media';

.activeFile {
  background-color: rgba(190, 190, 190, 0.2);
}

.container-grid {
  display: grid;
  color: $color-white;
  height: 100dvh;
  gap: 0px 0px;
  grid-auto-flow: row;

  a#menu-icon {
    display: none;
  }

  .navbar-top {
    grid-area: navBarTop;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    background-color: $color-darkBlue;

    .menu-icon {
      display: flex;
      padding-left: 5px;

      .welcome-icon {
        position: relative;

        img {          
          cursor: pointer;
        }
      }

      .menu-top {
        display: flex;
        padding-left: 5px;
        font-size: 0.8rem;
        cursor: default;

        span {
          padding: 3px 8px;
          transition: 0.3s;
          cursor: default;
          &:hover {
            background-color: #333649;
            border-radius: 5px;
          }
        }
      }
    }
    .title-vsc {
      width: 100%;
      text-align: center;
      cursor: default;
    }
  }

  .navbar-aside {
    grid-area: navBarAside;
    background-color: $color-littleLightGrey;

    .navbar-icon-aside {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      font-size: 2rem;

      .icon-container-aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        button.active {
          box-shadow: inset 1.5px 0 $color-pink;
          color: $color-white;
          background-color: rgba(190, 190, 190, 0.2);
        }

        .icon-navbar {
          display: inline-flex;
          position: relative;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 100%;
          color: #5c6a98;
          font-size: 1.7rem;
          cursor: pointer;
          transition: color 0.1s;

          &:hover {
            color: $color-white;
          }
        }

        .icon-end-aside {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .bi {
            transition: color 0.3s;

            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
  }

  .sidebar {
    display: grid;
    grid-area: sideBar;
    background-color: $color-darkGrey;
    gap: 0px 0px;
    grid-auto-flow: row;
    border-right: $style-border-grid;
    z-index: 2;

    .title-sidebar {
      grid-area: titleSideBar;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      font-size: 0.8rem;
      font-weight: 500;
      border-bottom: $style-border-grid;
      user-select: none;
    }

    .file-open {
      grid-area: fileOpen;
      background-color: $color-lightGrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1rem;
      font-size: 0.8rem;
      font-weight: 600;
      border-bottom: $style-border-grid;
      user-select: none;

      .bi {
        margin-right: 3px;
        padding: 2px;
        color: #888;
        cursor: pointer;
        &:hover {
          background-color: #bebebe33;
          border-radius: 3px;
        }
        &:active {
          color: #fff;
        }
      }
    }

    .view-sidebar {
      grid-area: viewSideBar;
      display: flex;
      flex-direction: column;
      user-select: none;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .tabs {
    grid-area: tabs;
    display: flex;
    flex-wrap: nowrap;
    background-color: $color-moreDarkGrey;
    border-bottom: $style-border-grid;
    user-select: none;
    overflow: hidden;
  }

  .main-area {
    display: grid;
    grid-area: mainArea;
    background-color: $color-lightGrey;
    gap: 0px 0px;
    grid-auto-flow: row;
    overflow: hidden;

    .root-path {
      grid-area: rootPath;
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: $color-rootPath;
      padding-left: 1rem;
      border-bottom: $style-border-grid;
    }

    .main-view {
      grid-area: mainView;
      overflow-y: auto;
    }
  }

  .footer {
    grid-area: footer;
    background-color: $color-darkBlue;
    border-top: $style-border-grid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: $color-white;

    .icons-footer-start{
      display: flex;
      width: 125px;
      justify-content: space-around;
      cursor: default;
      padding-left: 10px;
      font-size: 12px;

      a {
        display: flex;
        align-items: center;
        transition: 0.5s;
        &:hover {
          color: #bd93f9;
        }
      }

      .bi {
        align-self: center;
      }
    }

    .icons-footer-end {
      display: flex;
      width: 100px;
      justify-content: space-around;
      cursor: default;
      font-size: 12px;

      .bi {
        align-self: center;
      }
    }

    .margin {
      margin-left: 5px;
    }
  }
  // MOBILE - TABLET - DESKTOP RESPONSIVE

  @include mobile {
    position: relative;
    grid-template-columns: 0.45fr 3fr;
    grid-template-rows: 0.15fr 0.17fr 4.15fr 0.12fr;
    grid-template-areas:
      'menuIcon navBarTop'
      'menuIcon tabs'
      'mainArea mainArea'
      'footer footer';

    a#menu-icon {
      grid-area: menuIcon;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      //padding: 25%;
      background-color: $color-darkGrey;
      border-bottom: $style-border-grid;

      .bar {
        margin: 3px;
        width: 25px;
        height: 3px;
        background: $color-white;
        border-radius: 1.5px;
        transition: margin 0.7s, transform 0.7s;

        // same as above but with prefixes added
        -webkit-transition: margin 0.7s, -webkit-transform 0.7s;
        -o-transition: margin 0.7s, transform 0.7s;
        transition: margin 0.7s, transform 0.7s, -webkit-transform 0.7s;
      }

      &.close {
        .bar:first-child {
          -webkit-transform: translateY(9px) rotate(45deg);
          -ms-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
        }

        .bar:nth-child(2) {
          opacity: 0;
        }

        .bar:last-child {
          -webkit-transform: translateY(-9px) rotate(-45deg);
          -ms-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }

    .navbar-top {
      flex-direction: row-reverse;
      span {
        padding-left: 1px;
      }
      .menu-icon {
        .menu-top {
          display: none;
        }
      }
    }

    .navbar-aside {
      grid-area: initial;
      visibility: hidden;
      position: absolute;
      width: 13%;
      height: 0;
      top: 7%;
      z-index: 4;
      transition: all 0.8s ease;

      & * {
        opacity: 0;
        transition: opacity 1s ease !important;
      }

      &.navBarAsideRes {
        visibility: visible;
        height: 90.4%;
        // transition: all 0.8s ease;
        & * {
          opacity: 1;
          // transition: all 0.8s ease;
        }
      }
    }

    .sidebar {
      visibility: hidden;
      grid-area: initial;
      position: absolute;
      width: 0;
      height: 90.4%;
      top: 7%;
      left: 13%;
      border-top: $style-border-grid;
      overflow-y: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 0.15fr 0.1fr 4fr;
      grid-template-areas:
        'titleSideBar'
        'fileOpen'
        'viewSideBar';
      transition: all 0.5s ease;

      .file-open {
        background-color: $color-littleLightGrey;
      }

      &.sideBarRes {
        visibility: visible;
        width: 56%;
      }
    }

    .main-area {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.1fr 0.1fr 2.8fr;
      grid-template-areas:
        'rootPath rootPath rootPath'
        'mainView mainView mainView'
        'mainView mainView mainView';
    }
  }

  @include tablet {
    // grid-template-columns: 0.1fr 0.5fr 3fr;
    grid-template-columns: 0.1fr 170px minmax(0, 3fr);
    grid-template-rows: 0.15fr 0.15fr 4.15fr 0.12fr;
    grid-template-areas:
      'navBarTop navBarTop navBarTop'
      'navBarAside sideBar tabs'
      'navBarAside sideBar mainArea'
      'navBarAside footer footer';

    .sidebar {
      grid-template-columns: 1fr;
      grid-template-rows: 0.15fr 0.1fr 4fr;
      grid-template-areas:
        'titleSideBar'
        'fileOpen'
        'viewSideBar';
    }

    .main-area {
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 4fr;
      grid-template-areas:
        'rootPath'
        'mainView';
    }
  }

  @include desktop {
    //grid-template-columns: 0.1fr 0.5fr 3fr;
    grid-template-columns: 0.1fr 340px minmax(0, 3fr);
    grid-template-rows: 0.15fr 0.15fr 4.15fr 0.12fr;
    grid-template-areas:
      'navBarTop navBarTop navBarTop'
      'navBarAside sideBar tabs'
      'navBarAside sideBar mainArea'
      'navBarAside footer footer';

    .sidebar {
      grid-template-columns: 1fr;
      grid-template-rows: 0.15fr 0.1fr 4fr;
      grid-template-areas:
        'titleSideBar'
        'fileOpen'
        'viewSideBar';
    }

    .main-area {
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 4fr;
      grid-template-areas:
        'rootPath'
        'mainView';
    }
  }
}
